

body {
 font-family: Arial, Helvetica, sans-serif;
background-color: #121212;
color: #ffffff;
height:  100vh;
margin: 0;
display: flex;
align-items: center;
justify-content: center;
}


.container { 
background-color: #1e1e1e;
border-radius:  10px;
padding: 20px;
text-align: center;
width: 300px;
max-width: 80%;
}

.profile {
  width: 100px;
  height: 100px;
border-radius: 50%;
object-fit: cover;
border: 3px solid #121212;
}

.sub-title {
margin-bottom: 50px;

}




/*  justify-contente:space-around ele deixa os itens com espaço*/

.link {
display: flex;
align-items: center;
justify-content: space-around;
padding: 5px 10px;
border-radius: 5px;
margin: 20px 0;
text-decoration: none;
background-color:#121212;

}

p {  
color: #ffffff;

}


/* Estilos para o texto do rodapé */
.footer-text {
  margin-top: 30px;
  /* Espaçamento superior */
  font-size: 0.9em;
  /* Tamanho da fonte */
  color: #ccc;
  /* Cor cinza clara */
}


footer {
  background: rgba(15, 15, 20, 0.3);
  /* Fundo translúcido */
  backdrop-filter: blur(5px);
  /* Desfoque de fundo */
  -webkit-backdrop-filter: blur(5px);
  /* Compatibilidade com Webkit */
  text-align: center;
  /* Centraliza o texto */
  color: #ccc;
  /* Cor do texto cinza claro */
  font-size: 0.9em;
  /* Tamanho da fonte */
  padding: 10px 0;
  /* Espaçamento interno vertical */
  width: 100%;
  /* Ocupa toda a largura da tela */
  position: fixed;
  /* Fixa o rodapé na parte inferior */
  bottom: 0;
  /* Posiciona o rodapé no fim da tela */
  left: 0;
  /* Alinhamento à esquerda */
  animation: footerSlideUp 2s ease-in-out;
  /* Animação de deslizamento */
}



/* Animação para o rodapé deslizar para cima */
@keyframes footerSlideUp {
  0% {
      transform: translateY(100%);
      /* Fora da tela no início */
      opacity: 0;
      /* Invisível no início */
  }

  100% {
      transform: translateY(0);
      /* Posição original */
      opacity: 1;
      /* Visível */
  }
}